body {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'DotGothic16', sans-serif;
}

.top{
  margin-top: 100px;
}


.dog{
  height: 276px;
  width: 227px;
  max-width: 300px;
  ;
}
